<div class="body">

    <div class="l">
        <h1>Welcome in E-learning Platforme <span>Enicarthage !</span> </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="spinner">
            <div class="sk-folding-cube">
             <div class="sk-cube1 sk-cube"></div>
             <div class="sk-cube2 sk-cube"></div>
             <div class="sk-cube4 sk-cube"></div>
             <div class="sk-cube3 sk-cube"></div>
            </div>
           </div>

    </div>

   

  </div>