<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="im">
            <img src="assets/img/images-Photoroom.png" alt="Ooredoo Logo">
            <a class="navbar-brand" href="#"> E-niLearn</a>
        </div>
       
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                
              </form>
          
              <div class="bou">
                <i class="bi bi-envelope"></i>
                <i class="bi bi-windows"></i> 
                <img src="assets/img/icons8-person-50 (1).png" alt="Ooredoo Logo">
                

                

              </div>
            
              
              
        </ul>
        
      </div>
    </div>
  </nav>
  <header>
    
        
</header>